
#? Example Configuration

#. Database Environment
MONGO_URI=mongodb://localhost:27017/quackatime
REDIS_URI=

#. SMTP Environment
SMTP_ENABLED=true   # [true, false]
SMTP_USER=username
SMTP_PASS=password
SMTP_IP=example.com
SMTP_PORT=what port was smtp again

#. Miscellaneous
PORT=3000